{%  extends 'base.html' %}

{%  block body %}

<h1>{{  header  }}</h1>
<h2>{{  table_name  }}</h2>
<table border="2">
    <th>Student</th>
    <th>CWID</th>
    <th>Course</th>
    <th>Grade</th>
    <th>Instructor</th>
    {%  for student in students %}
        <tr>
                <td>{{  student.student  }}</td>
                <td>{{  student.cwid  }}</td>
                <td>{{  student.course  }}</td>
                <td>{{  student.grade  }}</td>
                <td>{{  student.instructor  }}</td>
        </tr>
    {%  endfor  %}
</table>
{%  endblock  %}